

.DivContainerToFill{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 0fr));
    justify-content: center;
    height: 250px;
    width: 90%;
    padding: 25px;
    margin: 6%;

    .separateDivs{
        padding: 16px;
        height: 50px;
        width: 55px;
        color: white;
        border-radius: 10px;
        background: black;
        opacity: 0.9;
        font-size: 20px;
    }

    @media screen and (max-width: 375px){
        .separateDivs{
            height: 40px;
            width: 40px;
            padding: 8px 0px 0px 12px;
        }
    }
}

@media screen and (max-width: 375px){
    .DivContainerToFill{
       padding: 10px;
       grid-template-columns: repeat(auto-fit, minmax(40px, 0fr));
    }
}