

.header{
    display: flex;
    align-items: center;
    height: 12%;
    width: 100%;
    padding: 20px 40px 20px 20px;
    border-radius: 20px;
    color: white;
    opacity: 0.8;
    background: black;

    .FaHouseChimney{
        margin-right: 25px;
        cursor: pointer;
    }

    .life-bar{
        display: flex;
        align-items: center;
        height: 14px;
        width: 120px;
        margin-left: auto;
        border-radius: 30px;
        background: white;

        .resizableDiv{
            height: 5px;
            background: black;
            border-radius: 5px;
            transition: width 0.5s, height 0.5s;
        }

        .FaHeartCrack{
            position: relative;
            top: 0px;
            right: -126px;
        }
    }
}