

.header{
    display: flex;
    align-items: center;
    height: 12%;
    width: 100%;
    padding: 20px 14px 20px 20px;
    border-radius: 20px;
    color: white;
    opacity: 0.8;
    background: black;

    @media screen and (max-width: 375px){
        h1{
            font-size: 14px;
            margin-right: 2px;
        }
    }

    .FaHouseChimney{
        margin-right: 25px;
    }

    .life-bar{
        display: flex;
        align-items: center;
        height: 14px;
        width: 120px;
        margin-left: auto;
        padding: 0px 0px 0px 16px;
        border-radius: 30px;
        background: white;

        .resizableDiv{
            height: 5px;
            background: black;
            border-radius: 5px;
            transition: width 0.5s, height 0.5s;
        }
    }

    @media screen and (max-width: 375px){
        .life-bar{
            padding: 4px;
            width: 94px;
        }
    }

    .containerHearts{
        margin-left: 6px;

        .FaHeart{
            position: relative;
            top: 0;
            right: 0;
        }   

        .FaHeartCrack{
            position: relative;
            top: 0;
            right: 0;
        }

        .displayFlex{
            display: flex;
        }

        .displayNone{
            display: none;
        }
    }
}